---
import Image from 'astro/components/Image.astro';
import logo from "../assets/img/logo.png"
import instagram from '../assets/img/icons/instagram.png';
import linkedin from '../assets/img/icons/linkedin.png';
import twitter from '../assets/img/icons/twitter.png';
import youtube from '../assets/img/icons/youtube.png';
---

<footer class="border-t py-8 text-black font-bold" style="border-color: #A0522D;">
  <div class="max-w-6xl mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="flex flex-col space-y-6">
      <Image src={logo} alt="logo" class="w-5 h-5" />

      <div class="flex items-center space-x-4">
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
          <Image src={instagram} alt="Instagram" class="w-5 h-5" />
        </a>
        <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">
          <Image src={linkedin} alt="LinkedIn" class="w-5 h-5" />
        </a>
        <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
          <Image src={twitter} alt="Twitter" class="w-5 h-5" />
        </a>
        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer">
          <Image src={youtube} alt="YouTube" class="w-5 h-5" />
        </a>
      </div>
    </div>

    <div>
      <h3 class="font-semibold mb-4">Contacto</h3>
      <ul class="space-y-2 text-sm">
        <li>C/ Falsa, 123 A Springfield, EEUU</li>
        <li>+34 666 777 888</li>
        <li>hola@toldosblasco.es</li>
        <li><a href="#" class="hover:underline">Contacto</a></li>
      </ul>
    </div>

    <div>
      <h3 class="font-semibold mb-4">Cómo podemos ayudarte</h3>
      <ul class="space-y-2 text-sm">
        <li><a href="#" class="hover:underline">Inicio</a></li>
        <li><a href="#" class="hover:underline">Sobre Nosotros</a></li>
        <li><a href="#" class="hover:underline">Servicios</a></li>
        <li><a href="#" class="hover:underline">Galería</a></li>
        <li><a href="#" class="hover:underline">Presupuesto</a></li>
      </ul>
    </div>
  </div>
</footer>
